<% content_for :page_title do %>
  <%= Spree.t(:new, scope: @object_name.pluralize) %>
<% end %>

<div data-hook="admin_<%= @object_name %>_new_form_header">
  <%= render 'spree/shared/error_messages', target: @object %>
</div>

<div data-hook="admin_<%= @object_name %>_new_form">
  <%= form_for [:admin, @object] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <%= render 'spree/admin/shared/new_resource_links' %>
      </div>
    </div>
  <% end %>
</div>
